@import url('https://fonts.googleapis.com/css?family=Rubik');
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

section {
	position: relative;
	width: 100%;
	height: 100%;
	/*this adjust the height of the section*/
}

section::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 80%;
	background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .3) 100%);
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .3) 150%, rgba(0, 0, 0, .3) 100%);
}

section h1 {
	position: absolute;
	top: 15%;
	left: 14%;
	z-index: 2;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #fff;
	font: normal 300 64px/1 'Rubik', sans-serif;
	text-align: left;
	white-space: nowrap;
}

#section01 {
	background: url(https://lh3.googleusercontent.com/wsMj0kpKf1RptI70paoZhqYDd0Ocl2f9L6u27jobAmGqq0nGQnU2jFf834rJp5RSU-w7h4Qg2SfekfsHlpfig3Z-Pw1Q_ohCnswcezqGO8T5m0gcuUhWLYpqvwtF2wpRlIdyHE-vAVeet2_RAsDUbqNC-Hux8RJMbt3Pj9kJ_EbuF3zL3_uzjGTQVwBeJwi_nxIiga9UoHFIQKt4SMWyE_UbdswIX5pE5kSLDRI3BAAWxvTpZMBurxqkMBKiudM6IUJtlsy1m3sfL8qtTZbJTVAzj4l6jDOmEIKFvDrSm-HjkL2ZNtmxprM1YXeESSprvnmd0VfKLyMMVkZQilKU9kFIcy-iPUbR4GP87zU92TaTewulrg1bSv9UoUm4khyh8MCzIC5d68nOFivRPwKmLY4KMnpdUg4Mj41SAsBVrfsXhXa-bC9_-p9Gc8cBLdQWwY4a-D8XjSbYUxWyS1Ila6NwF0K72O09bwHA4fIhXR_QDWb3jtpDv9rLlh23-7gC8lnw_DOrWwlY2Q9OIJlaPK2fuxKajOTZGsyieYG4eDW9biBmG5OgAnWegjYOLEUnutuo61Ro0xx6li2KeQIxd0MWppMR1n-cQ_f7H9_GoqQ_uP1_jun9lGnWFcSsG9dvnvJNeSy6N_EHbPGNh9lAMU30cSex1pZtiRRhUTaP-w=w2878-h1248-no) center center / cover no-repeat;
}

#section02 {
	background: url(https://lh3.googleusercontent.com/bVb6AD7jZbqov-SStuK0AVXXexvxW4pt46ZoiOie25N7Jc34s7ZaQ2HFVK2bn1WdjtPQLb0blOAn784jicxHmZoBpgsiNTF98c7gM0khwpccu8VPl1soXvbbaAKtkLzXpLA2oWZ6_Nj6qr_m-D20tuGYZ78Ov1VMhrtFIfv1HaxweSxXErge7GRfJe2v-xC9z5SeYg-kFP56SLPp6WCR8iPlRQ65Cve_14-TCIVhdE-a8BJXSAUDabeK4hU8Zf-LbNma43-gB9xGLO6yJRMqwGMmh-Njw3t47FoIiLfcxrEbDKTBowgGWLg0N9omud4LMVNV05IxNFAxZZDy94DXH3ucrAMF9IpONcV0hfM4hqrYPyAoONTsoxCmCsZn0TBMiEDwlyJ5v35dsMIf_wtgEf_0gHXVAe7uFkYSeTSrK5xUReuI5jl37XpUCFa1eZT8n1dO-B7rnxQ3Td2CwgbHPVsqW_OXP-S4T-Bd7uneiCsnG8N0F-C0X5LWjWImDL2Xz4d7bW8PGXm_abJLvE9iJHHvPEkilGxNw8qLtpVcrunVn6F7AOp4UstVXvDuUymWrQWIx5Je76Kt8u5tcM5bdS4G-RFNjQlQEyt8djW5FznqKtyNLizE2MQRjH240Oqa6Ox-6PJA2E_MRX879R9EKasfOQCGp1nG7NxQbAExkg=w2878-h1248-no) center center / cover no-repeat;
}

#section03 {
	background: url(https://lh3.googleusercontent.com/OBr1dVDwZh7ga07y5mIhi5wToNIbCUkQtrZRMJ2QkirzgVQwc5lgPg4rFxqiqC6Gv78YX24IQczl74TMCoAwXMQG6CEpRDAw0P0drLa_DAL_ESrRUxAGX5L6EH-8fJGvMyoaaLgK_9pDAgw43O1L2IoN9B7XAVgbN-2VEcZTeE1vo5ToxTVNIrYV_htr335dIaL-tvfhVIdf5MvmkXEMiwCDGl_WS88Sd09LoEwKfhnAlEwfWJfg0a2yE83WOstUqOXTSf09I3zDHx-qmR9Z-onruT4tSogaJD9PCmAClK57spc-je85M0PCCwCz3UqCX5VPAxIViYamRWV2ahD2WcxT2UNvAT9wem56dEUAXzx3vsC4C9_K-jeoiQbtu82FHRJ9i5l6ykoE3-4OkWbu_2pP39IpT2W3DdWOSx6PutLCFO6hSD6yVV9EoWMfXOF0KZ3Imr99nHSIbyr7ZSPTRHQc_crBys88M1czchDqki-AyqRTGlEKkjvqt39puXnO_jfCr-hglnibIaJLMiSZAZr4O2QfFw7kMJFJrdrHRTbc63qi27miAtHxU-g26ozqXHjrqCmMdutHHw7oakvjFzUocDVbcPez3RyLocptUkJnoglYtkqzhcOWKgiK0b8mRKbsnmdx_9ow52DSBJqSHWXFNYBhTyyQ3W9Q9mlpzg=w2878-h1248-no) center center / cover no-repeat;
}

#section04 {
	background: url(https://lh3.googleusercontent.com/iqJ0Ax9XWREcXsIzDYh9MTZxk7YvAh0yxgYHxtM4jAyeEcWPmNTZJpEM2efzY60JL2Xs1C34GHi_8Jdydw0LCH_8dN5eXB8rzj6h3vdl2fg-bkqabq8UIL-mA4rDK9DRJj1Nc9PRplOXoNpLQKEl9VdzRurvb3FICMeoqQOypGcfcyzD2IJl3c3magrHBN45k2zkqaQFFMAwULEJtfg3NsoFIYmOC0nmjs2eDSEiSYnSOdUoVkeNW5jWrsjAgmfaS9_a2fb67A_TMTlzT_90earuRyvMYJ1UozT4Pqk5Hu0LYqch7q6cCCERG5pzucSFkXnC2N845__XGB4dUD2hSO43cZTU856bjC6W28agF3TS-FH0OF7eao2x_-yAmO9l_tqi-9Z6cPOYV-IieRZDGSfPU2eHTtSq-ZT7FzQs8-FSU5DMUwDB4oQCAINQ57Ogp-CuRhFY9u0ubU8DoQdVR2Mate5ievzBaTP6PSFcw_RinFILsU68BENvQldkDfJQofNsP8KdY82c0Xi6kbSMqMkmzNSKPbmxnQOvyMoB1ZMIZ1MBpqbPmqSUUbow6QHeqvKMC1wBmPveRWpjMDSITrQNhmFUg7bNwDNj1Dn7l4XjZKH9jmX5fcNe2bowzUVytdq-TZLMVsINgR0ClF9wAXP5Pu9uobQ_XzMIIAMp0A=w2878-h1248-no) center center / cover no-repeat;
}

#section05 {
	background: url(https://lh3.googleusercontent.com/7ImhcsH76BStJQsb2j9UfHd3KH12oNsPTVDobfefwa9-76-qgirbSXGarqeVsAYYj54z_ZMCWe0Yo0kq6p-ayKrDVY7bS-1gSKbnFS-ZZ5YsvQfGA5vrAh-EC2wDNw6lZhedIXUmw4M1tMHs6__bw5AB8y1YTLE8CPULq5FUdn6MX3SsqNkdNSYJ_Hjo9K2NpwKBA9Ymg78_wjoW3UprtRXaTDx_JrVdXj8WrX2xclygdY-57D2OGf_UpFaP7mFYkr-Fr2GZmJMffSbzGcBNrpEGJZQVf_TLyHJihmXGSHj8jPi7RYqdzTjG9jCcMLNtOrPr9wvE9aPTsrhqvmv1FhtddPuwQQybRp7xu6FTn1Jtn1wPuv_9vCxIpVs-z1ry2peKY0HrOb3oEYq98t4lsqC_TLMuRRb713Ynb_fRu_Su9xj1MSum0Kyj07_UPXsiJIG4irgsmUs826QA78-2LCCp4c8c5mCpROkPhF2YzwAleZck6jkvmNQQ6jNZ28OeyIa402m4U-GM5YOlRQoAN9HgXHsfnf_NBS4shbuk6UyMdnZ6x36VVjswkYMJLp_Zu6hwAwUpZqekxyHRJX4zIzVoHUenLtdW6Ln8VpVdDmDhmGpY-nvF4URIUx2L2xH0q2elOpxl9NiBrJhRkjrnQ7SSWi3AX1fKOdz7nXSiCw=w2878-h1248-no) center center / cover no-repeat;
}

#thanks {
	background-color: #fff;
}

#thanks::after {
	content: none;
}

#thanks div {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

#thanks h1 {
	position: static;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	margin-bottom: 60px;
	color: #333;
}

#thanks p {
	color: #333;
	font: normal 400 20px/1 'Rubik+One', sans-serif;
}

#thanks p a {
	color: #333;
	text-decoration: none;
	transition: color .3s;
}

#thanks p a:hover {
	color: #888;
}

.demo a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font: normal 400 20px/1 'Rubik+One', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}

.demo a:hover {
	opacity: .5;
}

#section01 a {
	padding-top: 60px;
}

#section01 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#section01 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#section01 a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}

#section02 a {
	padding-top: 60px;
}

#section02 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#section02 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#section02 a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}

#section03 a {
	padding-top: 60px;
}

#section03 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#section03 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#section03 a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

@keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255, 255, 255, .1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

#section04 a {
	padding-top: 60px;
}

#section04 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#section04 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#section04 a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}

@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}

#section05 a {
	padding-top: 60px;
}

#section05 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}

#section05 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

#section05 a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes sdb05 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}

@keyframes sdb05 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: rotate(-45deg) translate(-20px, 20px);
		opacity: 0;
	}
}
